.hidden {
    display: none;
}

html {
    font-size: 15px; 
    font-family: 'Roboto Mono', monospace;
    text-align: center;
  }

h1 {
    font-size: 50px;
    text-align: center;
  }
  
h2 {
    font-size: 35px;
    text-align: center;
  }

img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
